{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>{{ accion }} Producto</h2> <div class="card p-4">
        <form method="post">
            {% csrf_token %}
            
            <h4 class="mb-3">Información Principal</h4>
            {{ form_prod.as_p }}
            
            <hr>

            <h4 class="mb-3">Detalles Técnicos</h4>
            {{ form_det.as_p }}
            
            <div class="mt-4">
                <button type="submit" class="btn btn-success">Guardar Todo</button>
                <a href="{% url 'lista_productos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}