{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-5">
    <div class="card shadow p-5">
        <h1 class="display-4 text-primary">Bienvenido al Sistema de Inventario</h1>
        <p class="lead">Selecciona una opción para comenzar a gestionar.</p>
        <hr class="my-4">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'lista_productos' %}" class="btn btn-primary btn-lg px-4 gap-3">Gestión de Productos</a>
            <a href="{% url 'lista_categorias' %}" class="btn btn-outline-secondary btn-lg px-4">Categorías</a>
            <a href="{% url 'lista_etiquetas' %}" class="btn btn-outline-secondary btn-lg px-4">Etiquetas</a>
        </div>
    </div>
</div>
{% endblock %}